<% if user_signed_in? %>
  <% if current_user.has_liked?(post) %>
    <li>
      <%= link_to post_like_path(post), class: "post_action_btn post_liked",  data: { method: 'delete' } do %>
        <i class="fas fa-heart"></i>
      <% end %>
      <span><%= post.like_count if post.likes.present? %></span>
    </li>
  <% else %>
    <li>
      <%= link_to post_like_path(post), class: "post_action_btn",  data: { method: 'post' } do %>
        <i class="far fa-heart"></i>
      <% end %>
      <span><%= post.like_count if post.likes.present? %></span>
    </li>
  <% end %>
<% else %>
  <li>
    <%= link_to post_like_path(post), class: "post_action_btn",  data: { method: 'post' } do %>
      <i class="far fa-heart"></i>
    <% end %>
    <span><%= post.like_count if post.likes.present? %></span>
  </li>
<% end %>
